@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.36rem;
}
.display-2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.76rem;
}
.display-5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.2rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-7 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 2.24rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #0077ff !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary {
  border: 0px!important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0077ff !important;
  border-color: #0077ff !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0053b3 !important;
  border-color: #0053b3 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0053b3 !important;
  border-color: #0053b3 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-secondary {
  border: 0px!important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #0cb27a !important;
  border-color: #0cb27a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #076a49 !important;
  border-color: #076a49 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #076a49 !important;
  border-color: #076a49 !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-info {
  border: 0px!important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-success {
  border: 0px!important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-warning {
  border: 0px!important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #5a5a5a !important;
  border-color: #5a5a5a !important;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-danger {
  border: 0px!important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-white {
  border: 0px!important;
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-black {
  border: 0px!important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover,
.btn-black:focus {
  background-color: #0cb27a !important;
  box-shadow: none!important;
}
.btn-primary-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0077ff;
  color: #0077ff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #0077ff;
  border-color: #0077ff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0077ff !important;
  border-color: #0077ff !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-secondary-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0cb27a;
  color: #0cb27a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #0cb27a;
  border-color: #0cb27a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0cb27a !important;
  border-color: #0cb27a !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-info-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #82786e;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-success-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #f7ed4a;
  color: #f7ed4a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-warning-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #808080;
  color: #808080;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-danger-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #b1a374;
  color: #b1a374;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-black-outline {
  border: 0px!important;
  background-color: white!important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  background-color: white!important;
  color: #0077ff !important;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0077ff !important;
}
.text-secondary {
  color: #0cb27a !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #66adff !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #33f1b1 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fbf7ac !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0077ff;
  border-color: #0077ff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0077ff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #cce4ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}
.form-control > .mbr-iconfont {
  font-size: 2.24rem;
}
blockquote {
  border-color: #0077ff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0077ff;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0077ff;
  border-bottom-color: #0077ff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0077ff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #0cb27a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230077ff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-srQm1m5kWj {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #fafafa;
}
.cid-srQm1m5kWj .mbr-overlay {
  background: linear-gradient(90deg, #149dcc, #b2ccd2);
}
.cid-srQm1m5kWj .mbr-section-btn {
  margin-left: -0.8rem;
}
.cid-srQm1m5kWj .text-content {
  padding-right: 1.5rem;
  padding-right: 0;
  padding-left: 1.5rem;
}
.cid-srQm1m5kWj .main-row {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}
.cid-srQm1m5kWj .mbr-text,
.cid-srQm1m5kWj .mbr-section-btn {
  color: #767676;
}
.cid-srQm1m5kWj .mbr-figure img {
  -webkit-box-shadow: 0px 0px 30px rgba(120, 120, 120, 0.3);
  box-shadow: 0px 0px 30px rgba(120, 120, 120, 0.3);
  border-radius: .25rem;
  max-width: 256px;
  max-height: 256px;
}
.cid-srQm1m5kWj .counter-container {
  padding: 1rem 0;
  position: relative;
}
.cid-srQm1m5kWj .counter-container ul {
  margin-bottom: 0;
  padding-left: 1.5rem;
}
.cid-srQm1m5kWj .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
}
.cid-srQm1m5kWj .counter-container ul li:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  position: absolute;
  left: 0px;
  padding-top: 2px;
  display: inline-block;
  text-align: center;
  margin: 4px 0px;
  line-height: 10px;
  transition: all .2s;
  width: 16px;
  height: 16px;
  font-size: 16px !important;
  font-weight: 500;
  background: none;
  color: #188ef4;
}
@media (max-width: 991px) {
  .cid-srQm1m5kWj .main-row {
    margin: 0;
  }
  .cid-srQm1m5kWj .mbr-section-title,
  .cid-srQm1m5kWj .mbr-text,
  .cid-srQm1m5kWj .list,
  .cid-srQm1m5kWj .mbr-section-btn {
    text-align: center !important;
  }
  .cid-srQm1m5kWj .text-content {
    padding: 0;
  }
}
.cid-srQnyT5rN5 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-srQnyT5rN5 .znt-title {
  color: #0a453c;
}
.cid-srQnyT5rN5 H1 {
  text-align: left;
  color: #0a453c;
}
.cid-srQnyT5rN5 H2 {
  color: #555555;
}
.cid-srQoJuUTny {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-srQoJuUTny .znt-box {
  color: #0a453c;
  font-weight: 300;
}
.cid-srQoJuUTny .znt-box .znt-img-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}
.cid-srQoJuUTny .znt-box .znt-content-wrapper {
  padding: 0 12px;
}
.cid-srQoJuUTny .znt-box img {
  width: 100%;
}
.cid-srQoJuUTny .znt-box .btn {
  padding: 12px;
}
.cid-srQoJuUTny H5 {
  color: #000000;
}
.cid-srQoJuUTny P {
  color: #555555;
}
.cid-srT0evv3n2 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-srT0evv3n2 .znt-box {
  color: #0a453c;
  font-weight: 300;
}
.cid-srT0evv3n2 .znt-box .znt-img-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}
.cid-srT0evv3n2 .znt-box .znt-content-wrapper {
  padding: 0 12px;
}
.cid-srT0evv3n2 .znt-box img {
  width: 100%;
}
.cid-srT0evv3n2 .znt-box .btn {
  padding: 12px;
}
.cid-srT0evv3n2 H5 {
  color: #000000;
}
.cid-srT0evv3n2 P {
  color: #555555;
}
.cid-souAya1hlg {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-souAya1hlg .znt-alert {
  color: #444444;
  background-color: #fff1b4;
  padding: 20px;
  border-radius: 8px;
  word-wrap: break-word;
  line-height: 28px;
}
.cid-souAya1hlg H1 {
  text-align: left;
}
.cid-souAya1hlg P {
  color: #444444;
}
